.section-one{
    background-image: url(../imagens/rel-1.jpg);
    background-size: cover;
    background-position: 20%;
    height: 630px;
    z-index: 2;
}

.back-nav{
    background-image: linear-gradient(to right,#616161,#424242, #212121);
    background-image: linear-gradient(to left,#616161,#424242, #212121);
}
  
.part-1{
    position: relative;
    top: 150px;
    z-index: 1;
    font-size: 27px;
    color: #e3f2fd;
    background-color: #2121216d;
}

.sect-one{
    min-height: 400px;
    margin-top: 70px;
  }
  
  .form-container{
    width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 4%;
    max-width: 700px;
  }
  
  .custom-tittle{
    position: relative;
  
  } 
  
  .custom-tittle h2{
    font-size: 28px;
    color:#e3f2fd;
    z-index: 2;
    display: inline-block;
    position: relative;
    padding-right: 10px;
  }
  
  .custom-tittle > div{
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #616161;
    z-index: 1;
    height: 3px;
  }

  .linha{
    height: 6px;
    width: 80%;
    background-color: #616161;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-fotos{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .geral{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-foto{
    width: 25%;
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;
  }

  .con{
    display: flex;
    width: 100%;
    height: 100%;
  }

  .input-form{
    width: 80%;
    position: relative;
    right: 160px;
  }

  .ima{
    width: 100%;
    position: relative;
    left: 73px;
  }

  section.sessao-video{
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    padding: 90px 0;
  }

  .posicao{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    display: flex;
  }

  .video{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video video{
    width: 90%;
    height: 100%;
  }

 

  @media screen and (max-width:966px){
    .ima{
        display: none;
    }

    .input-form{
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .video video{
      width: 90%;
      margin-bottom: 30px;
    }

    .posicao{
      display: block;
    }
  }

  @media screen and (max-width:760px) {
    .card-foto{
        width: 80%;
        position: relative;
        left: 11%;
    }

    .geral{
        display: block;
    }
  }

  footer{
    width: 100%;
    border-top: 2px solid #616161;
  }

  .baseboard{
    height: 80px;
    width: 100%;
  }
  
  .baseboard h4{
    color: #2a2727;
    padding-left: 20px;
  }
  
  .base-perfil{
    display: flex;
    height: 40px;
    width: 420px;
    padding: 10px 20px;
  }
  
  .base-perfil h2{
    font-size: 14px;
    color: rgb(21, 20, 20);
    margin-right: 30px;
    margin-left: 5px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }
  
  h6.link:hover{
    color: #e42525;
  }
  
  .linkedin,.github{
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  .hover:hover{
    background-color: #f4f1f18c;
  }

  @media screen and (max-width: 574px){

    .base-perfil{
      margin-bottom: 0;
  }
}  

@media screen and (max-width: 550px){
  .baseboard{
    position: relative;
    top: 0;
  }
}